<div class=" w-[1200px] m-auto grid grid-cols-4 pt-10 pb-10 gap-[20px] ">
    <div class="w-[320px] px-[20px] ">
        <div>
            <img src="https://rafcart.rslahmed.com/assets/images/svg/logo.svg" alt="">
        </div>
        <p class="py-[10px] leading-5"><a routerLink="#">Lorem ipsum, or it is sometimes kno wn, is dummy text used in laying out print.</a></p>
        <div>
            <div class="footer_newslet">
                <h6 class="font-bold py-[10px]">NEWSLETTER</h6>
                <form class="footernews_form">
                    <input type="text" placeholder="Your email address" class="py-[10px] rounded-lg bg-none">
                    <a routerLink="#">
                        <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Sing in</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div class="intro px-[20px]">
        <div>
            <h2 class="font-bold ">MY ACCOUNT</h2>
        </div>
        <div class="pt-[10px] leading-8">
            <p><a routerLink="">Orders</a></p>
            <p><a routerLink="">Wishlist</a></p>
            <p><a routerLink="">Track Order</a></p>
            <p><a routerLink="">Manage Account</a></p>
            <p><a routerLink="">Return Order</a></p>
        </div>
    </div>
    <div class="intro px-[20px]">
        <div>
            <h2 class="font-bold "> INFORMATION</h2>
        </div>
        <div class="pt-[10px] leading-8">
            <p><a routerLink="">About Us</a></p>
            <p><a routerLink="">Return Policy</a></p>
            <p><a routerLink="">Terms & condition</a></p>
            <p><a routerLink="">Privacy Policy</a></p>
            <p><a routerLink="">
FAQ</a></p>
        </div>
    </div>
    <div class="intro px-[20px]">
        <div>
            <h2 class="font-bold leading-8 ">CONTACT</h2>
        </div>
        <div class="pt-[10px] leading-8">
            <p><a routerLink="">Tòa nhà FPT Polytechnic, P. Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội</a></p>
            <p><a routerLink="">Phone :+566 477 256, +566 254 575</a></p>
            <p><a routerLink="">Email : Thetam1998@gmail.com</a></p>

        </div>
    </div>
</div>
<div class="py-3 bg-[#2b2d42] text-center text-xs text-[#ffffff]">
    <p>© RAFCART - All Rights Reserved</p>
</div>