<div class="conten my-[20px] ">
    <h1 class="font-bold text-[20px] py-[20px]">New Arrivals</h1>
    <div class="product grid grid-cols-4 gap-5 ">
        <form action="">
            <div class=" khoiy border-solid border-2 border-[#f3f3f3] rounded-lg  ">
                <div class=" w-[100%] ">
                    <a href="#"> <img src="https://vnn-imgs-f.vgcloud.vn/2019/08/07/23/apple-tiep-tuc-thong-tri-thi-truong-may-tinh-bang.jpg" /></a>
                </div>
                <div class="py-[10px] px-[10px] leading-8">
                    <a href="#" class="no-underline">
                        <h4 class="no-underline text-blue-600 visited:text-purple-600 hover:text-red-500">HP Pavilion 15</h4>
                    </a>
                    <p class="text-[15px] text-[red]">$450.000000</p>
                    <p>130,000,000 lượt xem</p>
                </div>
                <div class="conten-item ">
                    <button>Add to cart</button>
                </div>
            </div>
        </form>
        <form action="">
            <div class=" khoiy border-solid border-2 border-[#f3f3f3] rounded-lg  ">
                <div class=" w-[66%]  m-auto ">
                    <a href="#"> <img src="https://image.made-in-china.com/202f0j00KZUiGpwMLhos/M9-Plus-7-0inch-12g-512g-24MP-Cheap-Smart-Phones-4G-Mobile-Android-Cell-Phones-Lowest-Price-Mobail-Phone.webp" height="100px" /></a>
                </div>
                <div class="py-[10px] px-[10px] leading-8">
                    <a href="#" class="no-underline">
                        <h4 class="no-underline text-blue-600 visited:text-purple-600 hover:text-red-500">HP Pavilion 15</h4>
                    </a>
                    <p class="text-[15px] text-[red]">$450.000000</p>
                    <p>130,000,000 lượt xem</p>
                </div>
                <div class="conten-item ">
                    <button>Add to cart</button>
                </div>
            </div>
        </form>
        <form action="">
            <div class=" khoiy border-solid border-2 border-[#f3f3f3] rounded-lg  ">
                <div class=" w-[100%] ">
                    <a href="#"> <img src="https://vnn-imgs-f.vgcloud.vn/2019/08/07/23/apple-tiep-tuc-thong-tri-thi-truong-may-tinh-bang.jpg" /></a>
                </div>
                <div class="py-[10px] px-[10px] leading-8">
                    <a href="#" class="no-underline">
                        <h4 class="no-underline text-blue-600 visited:text-purple-600 hover:text-red-500">HP Pavilion 15</h4>
                    </a>
                    <p class="text-[15px] text-[red]">$450.000000</p>
                    <p>130,000,000 lượt xem</p>
                </div>
                <div class="conten-item ">
                    <button>Add to cart</button>
                </div>
            </div>
        </form>
        <form action="">
            <div class=" khoiy border-solid border-2 border-[#f3f3f3] rounded-lg  ">
                <div class=" w-[100%] ">
                    <a href="#"> <img src="https://vnn-imgs-f.vgcloud.vn/2019/08/07/23/apple-tiep-tuc-thong-tri-thi-truong-may-tinh-bang.jpg" /></a>
                </div>
                <div class="py-[10px] px-[10px] leading-8">
                    <a href="#" class="no-underline">
                        <h4 class="no-underline text-blue-600 visited:text-purple-600 hover:text-red-500">HP Pavilion 15</h4>
                    </a>
                    <p class="text-[15px] text-[red]">$450.000000</p>
                    <p>130,000,000 lượt xem</p>
                </div>
                <div class="conten-item ">
                    <button>Add to cart</button>
                </div>
            </div>
        </form>
    </div>
</div>