<div class="container">
    <div class="flex">
        <div>
            <app-advise></app-advise>
        </div>
        <div class="banner bg-[white] w-[1000px] scroll-mb-[10px]">
            <app-banner-slideshow></app-banner-slideshow>
        </div>
    </div>

    <article class=" mx-auto w-[1200px] ">
        <div class="mx-[120px] grid grid-cols-3 gap-6 overflow-hidden relative  my-[20px]">
            <div class="grid grid-cols-2 border-solid border-2 border-[#ec5959] rounded-lg px-[30px] py-[10px] ">
                <div>
                    <img src="https://rafcart.rslahmed.com/assets/images/svg/delivery-van.svg" alt="" class="m-auto">
                </div>
                <div>
                    <h2 class="font-bold">Free shipping</h2>
                    <p class="text-xs">Orders over $200</p>
                </div>

            </div>
            <div class="grid grid-cols-2 border-solid border-2 border-[#ec5959] rounded-lg px-[30px] py-[10px]">
                <div>
                    <img src="https://rafcart.rslahmed.com/assets/images/svg/money-back.svg" alt="" class="m-auto">
                </div>
                <div>
                    <h2 class="font-bold">Money Returns</h2>
                    <p class="text-xs">30 Days money return</p>
                </div>
            </div>
            <div class="grid grid-cols-2 border-solid border-2 border-[#ec5959] rounded-lg px-[30px] py-[10px]">
                <div>
                    <img src="https://rafcart.rslahmed.com/assets/images/svg/service-hours.svg" alt="" class="m-auto">
                </div>
                <div>
                    <h2 class="font-bold">24/7 Support</h2>
                    <p class="text-xs">Customer support</p>
                </div>
            </div>

        </div>
        <app-products-list></app-products-list>
    </article>
    <div class="conten my-[20px]">
        <h1 class="font-bold text-[20px] py-[20px]">New Arrivals</h1>

        <div>
            <div class="banner2 my-[30px]">
                <img src="https://newshop.vn/public/uploads/options/tusachlamchame.jpg" alt="" width="100%">
            </div>
        </div>
    </div>
    <app-post-list></app-post-list>

    <div class="bg-[#f2e4ab] grid grid-cols-2 gap-1 my-[20px] ">
        <div class="img-1 my-[20px]">
            <img src="https://newshop.vn/public/uploads/products/43880/sach-cat-khoang-troi-vao-tui-ao.jpg" alt="" class="w-[50%] m-auto">
        </div>
        <div class="conten2 py-[10%] ">
            <h1 class="font-bold text-[30px] text-center">Download RAFCART App Now!</h1>
            <p class="py-[10px]">Shopping fastly and easily more with our app. Get a link to download the app on your phone</p>
            <form action="" class="w-[700px] flex ">
                <input type="text" class="h-10 w-8/12 pl-3 rounded-sm" placeholder="Email Address">
                <div>
                    <button class="bg-[red] text-[#ffffff] hover:text-[#DCE800] px-[20px] py-[8px] rounded-r-lg">Subscribe</button>
                </div>
            </form>
        </div>

    </div>

</div>