<article class=" mx-auto w-[1200px] ">
    <div class="mx-auto w-[1200px] my-10">
        <div class="grid grid-cols-2 mb-3">
            <h2 class="font-bold text-xl ">Danh Mục sách hay</h2>
            <div class="mt-2 flex justify-end">
                <a routerLink="" class="mt-1">
                    <ul class="flex ">
                        <li>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                    </svg>
                        </li>
                        <li>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                    </svg>
                        </li>
                        <li>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                    </svg>
                        </li>
                        <li>
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" />
                                    </svg>
                        </li>
                        <li>
                            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="star" class="w-4 text-yellow-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z" />
                                    </svg>
                        </li>
                    </ul>
                </a>
                <a routerLink="" class="ml-2 text-sky-600 hover:underline relative hover:font-semibold">13 đánh giá</a>
                <a routerLink="" class="ml-1 text-sky-600 hover:underline relative hover:font-semibold">| 4110 Hỏi &amp; đáp</a>
            </div>
        </div>
        <hr />
        <div class="grid grid-cols-2 mt-7">
            <div class="mr-3">
                <div class="border-[1px]" class="">
                    <a routerLink="">
                        <img src={{product.img}} width="60%" height="" alt="" class="m-auto" />
                    </a>
                </div>
                <div class="flex mt-3 justify-center">
                    <div class="flex mr-2">

                        <p class="text-sm">Hàng chính hãng - bảo hành 12 Tháng</p>
                    </div>
                    <div class="flex">

                        <p class="text-sm">Giao hàng toàn quốc</p>
                    </div>
                </div>
            </div>
            <div class="detail">
                <h1 class="font-bold text-3xl text-[30px]">{{product.name}}</h1>
                <div class="flex ">
                    <span class="text-red-700 font-semibold text-2xl mr-5 mt-2">{{product.price}}</span>
                    <span class="font-semibold text-lg line-through mt-3">30.990.000₫</span>
                </div>
                <div class="mr-[70%] my-[10px] ">
                    <input type="number" min="1" class="form-control cart-value" [value]="cartValue" (input)="onChangeCartValue($event)" />

                </div>

                <div class=" box-Promo ">
                    <div class="endow py-[20px] ">
                        <span class="bg-[#e9ecef] px-3 font-bold ">Ưu đãi thêm</span>
                    </div>
                    <ul class="content-promo ">
                        <li class="inline-flex ">

                            <div>
                                <span>
                                         Được kiểm tra hàng và Thanh toán khi nhận hàng.
                                        </span>
                                <a routerLink=" " class="text-blue-600 hover:underline ">Xem chi tiết</a>
                            </div>
                        </li>
                        <li class="inline-flex ">

                            <div>
                                <span>
                                          Giao hàng trên Toàn Quốc
                                        </span>
                                <a routerLink=" " class="text-blue-600 hover:underline ">Xem chi tiết</a>
                            </div>
                        </li>
                        <li class="inline-flex ">

                            <div>
                                <span>
                                            Thu cũ đổi mới trợ giá 15%
                                        </span>
                                <a routerLink=" " class="text-blue-600 hover:underline ">Xem chi tiết</a>
                            </div>
                        </li>
                        <li class="inline-flex ">

                            <div>
                                <span>
                              Chiết khấu cao cho các đại lý và khách đặt sỉ
                                        </span>
                                <a routerLink=" " class="text-blue-600 hover:underline ">Xem chi tiết</a>
                            </div>
                        </li>
                        <li class="inline-flex ">

                            <div>
                                <span>
                                            Tặng PMH 200.000đ mua bộ sách 
                                        </span>
                                <a routerLink=" " class="text-blue-600 hover:underline ">Xem chi tiết</a>
                            </div>
                        </li>


                    </ul>
                </div>
                <div class="btn-buy ">
                    <button class="w-full bg-red-700 mt-4 rounded-md text-white hover:bg-red-800 " (click)="onAddToCart()"> 
                                <div>
                                    <strong>MUA NGAY</strong>
                                </div>
                                <p class="text-sm ">Giao hàng miễn phí hoặc nhận tại shop</p>
                            </button>
                </div>
            </div>
        </div>
    </div>
    <div class=" ">
        <h1 class="uppercase text-[16px] font-bold border-b-[1px] mt-2 pl-1 "> Thông tin chi tiết sản phẩm </h1>
        <p class="text-[14px] leading-[1.8] mb-3 "> {{product.description}}
        </p>
    </div>
    <div class="conten my-[20px] ">
        <h1 class="font-bold text-[20px] py-[20px] ">New Arrivals</h1>
        <div class="product grid grid-cols-4 gap-5 ">
            <form action=" ">
                <div class=" khoiy border-solid border-2 border-[#f3f3f3] rounded-lg ">
                    <div class=" w-[100%] ">
                        <a href="# "> <img src="https://newshop.vn/public/uploads/products/39708/sach-minh-chi-la-nguoi-binh-thuong.jpg " /></a>
                    </div>
                    <div class="py-[10px] px-[10px] leading-8 ">
                        <a href="# " class="no-underline ">
                            <h4 class="no-underline text-blue-600 visited:text-purple-600 hover:text-red-500 ">HP Pavilion 15</h4>
                        </a>
                        <p class="text-[15px] text-[red] ">$450.000000</p>
                        <p>130,000,000 lượt xem</p>
                    </div>
                    <div class="conten-item ">
                        <button>Add to cart</button>
                    </div>
                </div>
            </form>
            <form action=" ">
                <div class=" khoiy border-solid border-2 border-[#f3f3f3] rounded-lg ">
                    <div class=" w-[100%] m-auto ">
                        <a href="# "> <img src="https://newshop.vn/public/uploads/products/39708/sach-minh-chi-la-nguoi-binh-thuong.jpg " height="100px " /></a>
                    </div>
                    <div class="py-[10px] px-[10px] leading-8 ">
                        <a href="# " class="no-underline ">
                            <h4 class="no-underline text-blue-600 visited:text-purple-600 hover:text-red-500 ">HP Pavilion 15</h4>
                        </a>
                        <p class="text-[15px] text-[red] ">$450.000000</p>
                        <p>130,000,000 lượt xem</p>
                    </div>
                    <div class="conten-item ">
                        <button>Add to cart</button>
                    </div>
                </div>
            </form>
            <form action=" ">
                <div class=" khoiy border-solid border-2 border-[#f3f3f3] rounded-lg ">
                    <div class=" w-[100%] ">
                        <a href="# "> <img src="https://newshop.vn/public/uploads/products/39708/sach-minh-chi-la-nguoi-binh-thuong.jpg " /></a>
                    </div>
                    <div class="py-[10px] px-[10px] leading-8 ">
                        <a href="# " class="no-underline ">
                            <h4 class="no-underline text-blue-600 visited:text-purple-600 hover:text-red-500 ">HP Pavilion 15</h4>
                        </a>
                        <p class="text-[15px] text-[red] ">$450.000000</p>
                        <p>130,000,000 lượt xem</p>
                    </div>
                    <div class="conten-item ">
                        <button>Add to cart</button>
                    </div>
                </div>
            </form>
            <form action=" ">
                <div class=" khoiy border-solid border-2 border-[#f3f3f3] rounded-lg ">
                    <div class=" w-[100%] ">
                        <a href="# "> <img src="https://newshop.vn/public/uploads/products/39708/sach-minh-chi-la-nguoi-binh-thuong.jpg " /></a>
                    </div>
                    <div class="py-[10px] px-[10px] leading-8 ">
                        <a href="# " class="no-underline ">
                            <h4 class="no-underline text-blue-600 visited:text-purple-600 hover:text-red-500 ">HP Pavilion 15</h4>
                        </a>
                        <p class="text-[15px] text-[red] ">$450.000000</p>
                        <p>130,000,000 lượt xem</p>
                    </div>
                    <div class="conten-item ">
                        <button>Add to cart</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</article>